name: Run MATLAB Compile the Main Project  # Name of the GitHub Actions workflow

on:  # Defineste evenimentele care o sa ruleze
  push:  # Evenimentele o sa ruleze dupa comanda push
    branches: [ main ]  # Evenimentele o sa ruleze, doar daca se face push pe branch ul main
  workflow_dispatch:  # Evenimentele pot sa fie pornite si manual

jobs:  # Definirea joburilor
  run-matlab-tests:  # Numele Jobului
    runs-on: [self-hosted]  # Vom folosi un self-hosted runner

    steps:  # Lista pasilor care o sa fie executati
      - name: Checkout repository  # Checkout repozitoriul
        uses: actions/checkout@v4  # Comanda de checkout pentru a lua codul sursa prin comanda pull
        with:
          path: GitDisertatie  # Specifica directoriul unde vrei sa salvezi codul
          
      - name: Run MATLAB Command  # Comenzile Matlab
        uses: matlab-actions/run-command@v2  # Comanda Matlab pentru rulare comenzi
        with:
          command: |  #Specifica comenzile care vor fi rulate in matlab
            cd('C:\\GitDisertatie');  
            load_system('DisertatieVanca.slx');  
            simOut = sim('DisertatieVanca.slx');  
            save('simulationResults.mat', 'simOut');  

      # Incarca rezultatele sub forma de artefacte pentru procesare ulterioara
      - name: Upload simulation results artifact  # Pasul de incarcare artefacte
        uses: actions/upload-artifact@v4  # Comanda de incarcare artefacte
        with:
          name: simulation-results  # Numele Artefactului
          path: C:\\GitDisertatie\simulationResults.mat  # Calea catre fisierul cu artefacte
